/* Estilos para el calendario */
.calendar {
  background-color: white;
  padding: 20px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar th,
.table-calendar td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.table-calendar th {
  background-color: #f5f5f5;
  font-weight: bold;
}

/* Estilos para las horas en la primera columna */
.table-calendar td:first-child {
  background-color: #f5f5f5;
  font-weight: bold;
  width: 70px;
}

/* Ajusta el ancho de las celdas de días */
.table-calendar th:not(:first-child),
.table-calendar td:not(:first-child) {
  width: calc((100% - 70px) / 7); /* Divide el espacio restante entre los 7 días */
}

/* Estilos para la cabecera */
.header {
  background-color: red;
  color: white;
  text-align: center;
  padding: 50px;
  position: relative;
}

/* Estilos para la opción de selección */
.opcion-seleccion {
  position: absolute;
  top: 50px;
  right: 40px;
  cursor: pointer;
  color: white;
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
}

.opciones {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: red;
  border: 1px solid #ddd;
  padding: 5px;
  z-index: 1;
}

.opcion {
  padding: 5px;
  color: white;
  cursor: pointer;
}

.opcion-seleccion:hover .opciones {
  display: block;
}

/* Estilos para el cuadrado emergente */
.cell-popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.cell-popup {
  background-color: white;
  width: 80%;
  height: 60%;
  border: 1px solid #ddd;
  border-radius: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Estilo para el botón de cerrar (X) */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: red;
}

/* Estilos para los otros tres botones */
.popup-button {
  width: 100px;
  height: 20px;
  padding: 5px;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.popup-button:hover {
  background-color: crimson;
}

/* Estilos para el cuadro emergente */
.cell-popup {
  background-color: white;
  width: 80%;
  height: 60%;
  border: 1px solid #ddd;
  border-radius: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end; /* Alinea los botones en la parte inferior */
  align-items: flex-end; /* Alinea los botones a la derecha */
}

/* Estilos para el contenedor de los botones */
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Espacio entre los botones */
  width: 30%; /* Ocupa todo el ancho disponible */
}
